@{
    ViewBag.Title = "Home";
}

@section content_header{
    <h1>
        Thông tin ứng dụng
        <small>Optional description</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
        <li class="active">Here</li>
    </ol>
}

@section content_main{
}