
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section content_header{
    <h1>
        Nhà sản xuất
        <small>Danh sách tất cả nhà sản xuất hiện có</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Danh mục</a></li>
        <li class="active">Nhà sản xuất</li>
    </ol>
}

@section content_main{
    danh mục
}
