@import url(product.css);
body {
  font-family: 'Open Sans', sans-serif;
  margin: auto; }

body * {
  font-family: 'tahoma' !important;
  font-size: 1rem; }

body i {
  font-family: 'FontAwesome' !important; }

.navbar-light {
  background-color: white !important;
  color: white; }

.logo {
  margin-bottom: 5px;
  width: 50px;
  height: auto; }

#app {
  padding-right: 15px;
  padding-left: 20px; }

.row-2 {
  margin-top: 20px;
  max-height: 300px; }

.bottom-left-menu {
  background-color: #ef5777; }

.top-menu {
  margin-top: 10px; }

.bottom-left-menu-carousel {
  max-height: 100%; }

.main-menu {
  margin-top: 20px; }

.carousel-inner {
  width: 100%;
  max-height: 300px !important; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .bottom-left-menu-carousel {
    visibility: hidden; } }

.productbox, .news-products, .maybeyoulike-products {
  margin-top: 20px;
  /*margin-left : 0px;
    margin-right : 0px;*/ }

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: red;
  text-align: center;
  z-index: 1; }

.btn-wrap-text {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  text-overflow: ellipsis; }

.breadcrumb-item a {
  color: black; }

.breadcrumb-item a:link {
  text-decoration: none; }

.breadcrumb-item a:visited {
  text-decoration: none; }

.breadcrumb-item a:hover {
  text-decoration: underline; }

.breadcrumb-item a:active {
  text-decoration: underline; }

.number_items_shopping_cart {
  position: relative;
  top: -3rem;
  left: 1.6rem; }
